*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial;
    background-color: #f6f8f9;
}

.header{
    height: 90px;
    background-color: white;
    padding: 23px;
}

.logo{
    height: 75px;
    vertical-align: middle;
}

.nomelogo{
    display: inline-block;
    font-weight: bold;
    vertical-align: middle;
    font-size: 45px;
}
.title{
    font-weight: bold;

}
main{
    background-color: white;
    width: 68%;
    margin: auto;
    margin-top: 65px;
    padding: 30px 40px;
}
.select{
    color: #d4d8dc;
    border-radius: 14px;
    padding: 8px 16px;
    font-weight: bold;
    font-size: 16px;
    background-color: white;
    border: 1px solid #d4d8dc;
}
.task{
    color: white;
    border-radius: 14px;
    padding: 8px 16px;
    font-weight: bold;
    font-size: 16px;
    background-color: #45abea;
    border: 1px solid #45abea;
}
.lista{
    margin-top: 50px;
}
.lista li{
    list-style: none;
    font-size: 1.3rem;
    font-weight: normal;
    padding: 8px 0;
}
.x{
    
    color: #ed7570;
    border-radius: 50%; 
    padding: 0px 3px;
    border: 2px solid #ed7570;
    font-weight: bold;

}
.v{
    color: #64c0a9;
    border-radius: 50%; 
    padding: 0px 3px;
    border: 2px solid #64c0a9;
    font-weight: bold;

}
.tag{
    color: white;
    border-radius: 14px;
    padding: 8px 16px;
    font-weight: bold;
    font-size: 14px;
}
.editorial{
   
    background-color: #45abea;
    
}.goals{
   
    background-color: #9c72e4;
   
}
.recruiting{
    
    background-color: #64c0a9;
   
}
.mobile{
  
    background-color: #f29e33;
    
}
.website{
    
    background-color: #d863a1;
   
}
.sales{
   
    background-color: #b0c926;

}
