*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    height: 90px;
    

}

.logo{
    height: 75px;
    vertical-align: middle;
}

.nomelogo{
    display: inline-block;
    font-weight: bold;
    vertical-align: middle;
    font-family: Arial;
    font-size: 45px;
}