*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial;
}

.header{
    height: 90px;
    

}

.logo{
    height: 75px;
    vertical-align: middle;
}

.nomelogo{
    display: inline-block;
    font-weight: bold;
    vertical-align: middle;
    font-size: 45px;
}
.title{
    font-weight: bold;

}
.x{
    border-color: red;
border-radius: 50%;
padding: 5px;
border-style: solid;

}
.v{
    border-color: green;
border-radius: 50%;
padding: 5px;
border-style: solid;

}
.editorial{
    color: white;
    border-radius: 25%;
    padding: 5px;
    background-color: blue;
    font-weight: bold;
}.goals{
    color: white;
    border-radius: 25%;
    padding: 5px;
    background-color: purple;
    font-weight: bold;
}
.recruiting{
    color: white;
    border-radius: 25%;
    padding: 5px;
    background-color: green;
    font-weight: bold;
}
.mobile{
    color: white;
    border-radius: 25%;
    padding: 5px;
    background-color: orange;
    font-weight: bold;
}
.website{
    color: white;
    border-radius: 25%;
    padding: 5px;
    background-color: pink;
    font-weight: bold;
}
.sales{
    color: white;
    border-radius: 25%;
    padding: 5px;
    background-color: lightgreen;
    font-weight: bold;
}
